/* В App.scss ДО .app */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  width: 100%;
}

.app {
  width: 100%;
  min-height: 100vh;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;

  &.dark {
    background-color: #1a1a1a;
  }

  &.light {
    background-color: rgb(244, 240, 240);
  }
}
